a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.success, .error {
    padding: 1em;
    margin: 2em 0;
}

.success {
    border: 0.1em solid green;
    background-color: lightgreen;
}

.error {
    border: 0.1em solid red;
    background-color: #ffebe8;
}

.row2 {
    background-color: lightgrey;
}

.fieldset {
    float: left;
    margin-right: 1em;
}

.fieldset label {
    display: block;
}

.footer {
    margin-top: 2em;
    clear: both;
}