<html>
	<head>
		<title>timestimator: {% block title %}welcome{% endblock %}</title>
		<link rel="icon" type="image/icon" href="/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0pr2/build/cssreset/reset-min.css" /> 
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0pr2/build/cssfonts/fonts-min.css" /> 
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0pr2/build/cssgrids/grids.css" />
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0pr2/build/cssbase/base-min.css" />
		<link rel="stylesheet" type="text/css" href="/css/default.css" />
	</head>
	<body class="yui-d1">
		{% block header %}
			<div id="header">
				<div id="title">
						<span>TIMESTIMATOR</span>
				</div>
				<div id="navigation">
					<a href="/">HOME</a>
					<a href="/groups">GROUPS</a>
					<br class="clear" />
				</div>
				<div id="promoteBox">
					{% block addForm %}
						{% if list.members.count %}
							<form action="/add" method="post" id="addEstimation">
								<div id="descriptonFields" class="fieldset">
									<label for="description">Description:</label>
									<input class="text" type="text" name="description" id="description" />
								</div>
								<div id="jiraFields" class="fieldset">
									<label for="jira">Jira Issue:</label>
									<input class="text short" type="text" name="jira" id="jira" />
								</div>
								<div id="estimatedTimeFields" class="fieldset">
									<label for="estimatedTime">Estimated Time:</label>
									<input class="text short" type="text" name="estimatedTime" id="estimatedTime" />
								</div>
								<div id="estimationGroup" class="fieldset">
									<label for="estimationGroup">Group</label>
									<select id="estimationGroup" name="estimationGroup">
										{% for member in list.members %}
											<option value="{{member.group.key}}">{{member.group.name}}</option>
										{% endfor %}
									</select>
								</div>
								<div id="addEstimationSubmit" class="fieldset">
									<br />
									<input type="submit" value="Add Estimation"/>
								</div>
							</form>
						{% else %}
							You need to create or join a <a href="/groups">group</a> to add an Estimation.
						{% endif %}
					{% endblock %}
					<br class="clear" />
				</div>
				{% block message %}{% endblock %}
			</div>
		{% endblock %}
		{% block content %}
			<h1>Welcome to the timestimator!</h1>
		{% endblock %}

		<p class="footer">Logedin as {{ user.nickname }}. <a href="{{ logout }}">Logout</a>.<br />&copy; by <a href="http://gorn.ch/">Tobias Ebnöther</a> contact me if you experience any problems.</p>
	</body>
</html>
