<html>
    <head>
        <title>timestimator: {% block title %}welcome{% endblock %}</title>
        <link rel="icon" type="image/icon" href="/favicon.ico" />
    </head>
    <body>
        {% block message %}{% endblock %}
        {% block content %}
            <h1>Welcome to the timestimator!</h1>
        {% endblock %}
        {% block addForm %}
            <h2>Add time estimation</h2>
            <form action="/add" method="post">
                <div id="descriptonFields">
                    <label for="description">Description:</label>
                    <input type="text" name="description" id="description" />
                </div>
                <div id="jiraFields">
                    <label for="jira">Jira Issue:</label>
                    <input type="text" name="jira" id="jira" />
                </div>
                <div id="estimatedTimeFields">
                    <label for="estimatedTime">Estimated Time:</label>
                    <input type="text" name="estimatedTime" id="estimatedTime" />
                </div>
                <input type="submit" />
            </form>
        {% endblock %}
        <p class="footer">Logedin as {{ user.nickname }}. <a href="{{ logout }}">Logout</a>.</p>
    </body>
</html>
