{% extends 'base.html' %}

{% block message %}
    <p class="{% if detail.error %}error{% else %}success{% endif %}">{{ detail.message }}</p>
{% endblock %}

{% block content %}
{% if detail.error %}
    <h1>Error Occured</h1>
    <p><a href="/">Homepage</a>.</p>
{% else %}
    <h1>Details for {{ detail.task.description }}</h1>
    <dl>
        <dt>Description</dt>
        <dd>{{ detail.task.description }}</dd>
        <dt>Creation</dt>
        <dd>{{ detail.task.creation }}</dd>
        <dt>Task Time</dt>
        <dd>
            {% if detail.task.time %}
                {{ detail.task.time }}
            {% else %}
                <form action="/detail/{{ detail.task.key }}" method="POST">
                    <input type="text" name="time" size="4" />
                </form>
            {% endif %}
        </dd>
    </dl>
{% endif %}
{% endblock %}

{% block addForm %}{% endblock %}