{% extends 'base.html' %}

{% block message %}
    <p class="{% if detail.error %}error{% else %}success{% endif %}">{{ detail.message }}</p>
{% endblock %}

{% block content %}
{% if detail.error %}
    <h1>Error Occured</h1>
    <p><a href="/">Homepage</a>.</p>
{% else %}
    <h1>Details</h1>
    <h2>{{ detail.task.description }}</h2>
    <dl>
        <dt>Description</dt>
        <dd>{{ detail.task.description }}</dd>
        <dt>Creation</dt>
        <dd>{{ detail.task.creation }}</dd>
        <dt>Task Time</dt>
        <dd>
            {% if detail.task.time %}
                {{ detail.task.time }}
            {% else %}
                <form action="/detail/{{ detail.task.key }}" method="POST">
                    <input type="text" name="time" size="4" />
                </form>
            {% endif %}
        </dd>
    </dl>
    <h2>Different estimations</h2>
    <table>
        <tr>
            <th>Author</th>
            <th>Time</th>
        </tr>
        {% for estimation in detail.estimations %}
            <tr>
                <td>{{estimation.owner}}</td>
                <td>{{estimation.time}}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<a href="/">Homepage</a>
{% endblock %}

{% block addForm %}{% endblock %}