{% extends 'base.html' %}

{% block addForm %}
	<form action="/groups" method="post" id="addGroup">
		<div id="groupFields" class="fieldset">
			<label for="group">Group Name:</label>
			<input class="text" type="text" id="group" name="group" />
		</div>
		<div id="addGroupSubmit" class="fieldset">
			<br />
			<input type="submit" value="Add Group">
		</div>
	</form>
{% endblock %}

{% block message %}
	{% if add.message %}
		<div class="{% if add.error %}error{% else %}success{% endif %}">{{ add.message }}</div>
	{% endif %}
	{% if join.message %}
		<div class="{% if join.error %}error{% else %}success{% endif %}">{{ join.message }}</div>
	{% endif %}
	{% if delete.message %}
		<div class="{% if delete.error %}error{% else %}success{% endif %}">{{ delete.message }}</div>
	{% endif %}
{% endblock %}

{% block content %}
{% if overview.requests %}
<h2>Join Requests</h2>
<table class="groupsOverview">
	<tr class="header">
		<th>GROUP</th>
		<th>USER</th>
		<th/>
	</tr>
	{% for request in overview.requests %}
		<tr class="{% cycle odd,even %}">
			<td>{{request.group.name}}</td>
			<td>{{request.name}}</td>
			<td>
				<form action="/groups/{{request.group.key}}" method="post" class="requestForm">
					<input type="hidden" name="delete" value="{{request.group.key}}">
					<input type="hidden" name="delMember" value="{{request.name.email}}">
					<input type="submit" value="Deny" />
				</form>
				<form action="/groups/{{request.group.key}}" method="post" class="requestForm">
					<input type="hidden" name="addMember" value="{{request.name.email}}">
					<input type="submit" value="Accept" />
				</form>
			</td>
		</tr>
	{% endfor %}
</table>
{% endif %}
{% if overview.member %}
	<h2>Your Groups</h2>
	<table class="groupsOverview">
		<tr class="header">
			<th>GROUP</th>
			<th>OWNER</th>
			<th>STATE</th>
			<th/>
		</tr>
		{% for member in overview.member %}
			<tr class="{% cycle odd,even %}">
				<td>{{member.group.name}}</td>
				<td>{{member.group.owner}}</td>
				<td>
					{% ifequal member.status 0 %}Unconfirmed{% endifequal %}
					{% ifequal member.status 1 %}Member{% endifequal %}
					{% ifequal member.status 2 %}Admin{% endifequal %}
				</td>
				<td>
					<form action="/groups/{{member.group.key}}" method="post">
						<input type="hidden" name="delete" value="{{member.group.key}}">
						<input type="submit" value="Leave" />
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}

<h2>All Groups</h2>
<table class="groupsOverview">
	<tr class="header">
		<th>GROUP</th>
		<th>OWNER</th>
		<th/>
	</tr>
	{% for group in overview.groups %}
		<tr class="{% cycle odd,even %}">
			<td>{{group.name}}</td>
			<td>{{group.owner}}</td>
			<td>
					<form action="/groups/{{group.key}}" method="post">
						<input type="hidden" name="addMember" value="{{user.email}}">
						<input type="submit" value="Join" />
					</form>
			</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}