{% extends 'base.html' %}

{% block message %}
    <h1>Welcome to timestimator!</h1>
{% endblock %}

{% block content %}
    <h2>Recent time estimations</h2>
    <table>
        <tr>
            <th>Description</th>
            <th>Jira</th>
            <th>Owner</th>
            <th>Time Taken</th>
            <th>Your Est</th>
            <th>Diff</th>
            <th>Avg Est</th>
        </tr>
        {% for task in list.tasks %}
            <tr class="{% cycle row1,row2 %}">
                <td>
                    <a href="/detail/{{ task.key }}">{{ task.description }}</a>
                </td>
                <td>{% if task.jira %}
                    {% if task.jiraLink %}
                        <a href="{{ task.jiraLink }}{{ task.jira }}">{{ task.jira }}</a>
                    {% else %}
                        {{ task.jira }}
                    {% endif %}
                {% endif %}</td>
                <td>{{ task.owner }}</td>
                <td>
                    {% if task.time %}
                        {{ task.time }}
                    {% else %}-{% endif %}
                </td>
                <td>{% if task.yourEstimation %}
                        {{ task.yourEstimation }}
                    {% else %}
                    <form method="post" action="/add/{{ task.key }}">
                        <input type="text" size="4" name="estimatedTime"/>
                    </form>
                {% endif %}</td>
                <td>{% if task.difference %}{{ task.difference }}%{% else %} - {% endif %}</td>
                <td>{{ task.averageEstimation }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}