{% extends 'base.html' %}

{% block content %}
	<h2 class="caption">Recent time estimations</h2>
	<table class="estimationOverview">
		<tr class="header">
			<th>DESCRIPTION</th>
			<th>JIRA</th>
			<th>GROUP</th>
			<th>TIME TAKEN</th>
			<th>YOUR ESTIMATION</th>
			<th>DIFFERENCE</th>
			<th>AVERAGE ESTIMATION</th>
		</tr>
		{% for task in list.tasks %}
			<tr class="{% cycle odd,even %}">
				<td>
					<a href="/detail/{{ task.key }}">{{ task.description }}</a>
				</td>
				<td>{% if task.jira %}
					{% if task.jiraLink %}
						<a href="{{ task.jiraLink }}{{ task.jira }}">{{ task.jira }}</a>
					{% else %}
						{{ task.jira }}
					{% endif %}
				{% endif %}</td>
				<td>{{ task.group }}</td>
				<td>
					{% if task.time %}
						{{ task.time }}
					{% else %}-{% endif %}
				</td>
				<td>{% if task.yourEstimation %}
						{{ task.yourEstimation }}
					{% else %}
					<form method="post" action="/add/{{ task.key }}">
						<input type="text" name="estimatedTime"/>
					</form>
				{% endif %}</td>
				<td>{% if task.difference %}{{ task.difference }}%{% else %} - {% endif %}</td>
				<td>{{ task.averageEstimation }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}